@import "./../../../styles/variables.scss";
@import "./../../../styles/mixins.scss";

.navbar {
  @include flex-center;
  justify-content: space-between;
  padding: 0 4rem;
  color: $white;

  .logo {
    width: 5rem;
  }

  .navTabs {
    @include flex-center;
    ul {
      @include flex-center;
      gap: 2rem;
      font-weight: $font-semibold;

      a {
        cursor: default;
        color: $white;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }

  .menu,
  .close {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (max-width: 765px) {
  .navbar {
    padding: 0 2rem;

    .menu,
    .close {
      &:hover {
        filter: brightness(50%);
      }
    }

    .menu {
      display: block;
    }

    .close {
      top: 2rem;
      right: 2rem;
      position: absolute;
      z-index: 99;
    }

    .navTabs {
      position: fixed;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.75);
      backdrop-filter: blur(8px);

      width: 100%;
      top: 0;
      right: -100rem;
      z-index: 99;
      transition: ease-in-out 0.5s;

      ul {
        flex-direction: column;
      }
    }
  }

  .active {
    .close {
      display: block;
    }

    .navTabs {
      right: 0;
    }
  }
}
