@import "@/src/styles/variables.scss";
@import "@/src/styles/mixins.scss";

.page {
  @include flex-center;
  background-color: $label-color;
  min-height: 100vh;
  height: max-content;

  .container {
    max-width: 778px;
    width: 100%;
    background-color: $white;
    min-height: 70vh;
    height: max-content;
    @include border;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
    position: relative;
    box-shadow: 0.5px 0.5px 20px $border-shadow;

    .formContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      width: 50%;
      transition: 1s;

      button {
        background-color: $label-color;
        color: $white;
        width: max-content;
      }

      .logo {
        margin-left: -0.75rem;
        display: flex;
        align-items: center;
        img {
          width: 3.5rem;
          filter: invert(1);
        }
        h3 {
          font-size: 1.5rem;
        }
      }

      .resultSection {
        display: flex;
        align-items: flex-start;
        gap: 1rem;

        button {
          @include flex-center;
          padding: 0.5rem 0.7rem;
          border-radius: 50%;
          min-width: max-content;
          img {
            width: 1.5rem;
            height: 1.5rem;
            filter: invert(1);
          }
        }
      }
    }

    .slide {
      transform: translateX(100%);
    }

    .formCarousel {
      width: 48%;
      border-radius: 1rem;
      transition: 1s;
    }

    .formCarousel > * {
      height: 100%;
    }

    .shiftCarousel {
      transform: translateX(-107%);
    }
  }
}

.vet {
  background-color: $vet-color;
  .container {
    .formContainer {
      button {
        background-color: $vet-color;
      }
    }
  }
}

.disease {
  background-color: $disease-color;
  .container {
    .formContainer {
      button {
        background-color: $disease-color;
      }
    }
  }
}

.dog {
  background-color: $breed-color;
  .container {
    .formContainer {
      button {
        background-color: $breed-color;
      }
    }
  }
}

.classify {
  background-color: $classify-color;
  .container {
    .formContainer {
      button {
        background-color: $classify-color;
      }
    }
  }
}

@media (max-width: 765px) {
  .page {
    .container {
      width: 100%;
      @include flex-center;
      justify-content: space-between;
      flex-direction: column;
      padding: 1.5rem;
      margin: 2rem;

      .formContainer {
        width: 100%;
        gap: 0.5rem;
        .logo {
          justify-content: center;

          h3 {
            font-size: 1.2rem;
          }
        }

        form {
          button {
            width: 100%;
          }
        }

        .resultSection {
          flex-direction: column-reverse;
          align-items: center;

          button {
            padding: 0.25rem;
          }

          .result {
            text-align: center;

            h2 {
              font-size: 1.25rem;
              margin-bottom: 0.5rem;
            }

            h3 {
              font-size: 1.5rem;
            }
          }
        }
      }

      .slide {
        transform: translateX(0%);
      }

      .formCarousel {
        margin-top: 1.5rem;
        width: 100%;
      }

      .shiftCarousel {
        transform: translateX(0%);
      }
    }
  }
}
