$white: #fff;
$black: #000;
$label-color: #666;
$border-color: #eee;
$border-shadow: #00000040;
$background-blur: #00000080;

$primary-color: #25a15e;
$vet-color: #5d7ead;
$disease-color: #6e4528;
$breed-color: #9a7020;
$classify-color: #d89947;

$font-semibold: 600;
$font-bold: 700;
$font-medium: 500;
$font-light: 300;
