@import "./../../../styles/variables.scss";
@import "./../../../styles/mixins.scss";

.btn {
  @include to-rem(border-radius, 5);
  @include border;
  font-size: 0.95rem;
  font-weight: $font-semibold;
  padding: 0.5rem 1rem;

  &:hover {
    filter: brightness(90%);
  }
}

.outline {
  background-color: transparent;
  color: $white;
  border-color: $white;
}

@media (max-width: 765px) {
  .btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.75rem;
  }
}
