@import "./../../../styles/variables.scss";
@import "./../../../styles/mixins.scss";

.heroBanner {
  background: url("/img/back.webp");
  height: 100vh;
  background-size: cover;

  .content {
    color: $white;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;

    h1 {
      font-size: 6rem;
    }
    h3 {
      font-size: 2rem;
    }

    p {
      margin-bottom: 1.5rem;
    }

    .btnContainer {
      @include flex-center;
      justify-content: flex-start;
      gap: 1rem;
    }
  }
}

@media (max-width: 765px) {
  .heroBanner {
    .content {
      padding: 0 2rem;
      text-align: center;

      h1 {
        font-size: 13vmin;
      }
      h3 {
        font-size: 6vmin;
      }
      p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }

      .btnContainer {
        justify-content: center;
        gap: 0.5rem;
      }
    }
  }
}
