@import "./../../../styles/variables.scss";

.loader {
  height: 100vh;
  background-color: $black;
  color: $white;
  display: flex;
  align-items: flex-end;

  h1 {
    font-size: 10rem;
    font-family: "DM Sans", sans-serif;
    margin-left: 2rem;
  }
}

@media (max-width: 768px) {
  .loader {
    h1 {
      margin-bottom: 3rem;
      font-size: 6rem;
    }
  }
}
